</article>
<footer>
    <div class="col-lg-12" style="text-align: center;margin-top: 10px;">
        <ul class="list-inline">
            <li><a href="http://www.bootcss.com/">Bootstrap中文网</a></li>
            <li><a href="http://nodejs.cn/">Node.js中文网</a></li>
            <li><a href="http://www.mongodb.org.cn/">mongoDB中文网</a></li>
        </ul>
    </div>
    <p style="text-align: center;">2017-2018</p>
</footer>
<script>
    if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
        (function(){
            window.scrollReveal = new scrollReveal({reset: true});
        })();
    };
</script>
</body>
</html>