<%- include header %>
<div class="col-lg-12" style="text-align: left;">
    <div class="container" style="border: 5px solid rgba(255,255,255,0.3);width: 1000px;">
        <form method='post' action='/upload' enctype='multipart/form-data' >
            <div class="form-group">
                <input type="file" name="photo" required accept=".jpg,.png"/>
            </div>
            <input type="submit"  value="上传"/>
        </form>
    </div>
</div>
<%- include footer %>